*::first-letter {
    text-transform: uppercase;
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 320px;

    &[mode="light"] {
        color: black;
        background-color: white;
    }

    &[mode="dark"] {
        color: white;
        background-color: #081B33;

        a {
            color: white;

            &:hover {
                color: #64c9ff !important;
            }
        }
    }

    a {
        text-decoration: none;
        color: black;
        display: block;
    }

    button {
        background-color: transparent;
        border: none;
    }

    li {
        list-style: none;
    }

    h1 {
        font-weight: bold;

        strong {
            font-weight: bold;
        }
    }
}

//////////////////////////////////

//HEADER

header {
    position: relative;

    .switch {
        position: absolute;
        top: 2em;
        right: 0;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin: 16px;

        input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked+.slider {
                background-color: #455277;
            }

            &:checked+.slider::before {
                transform: translatex(25px);
                content: '🌙';
            }
        }

        .slider {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #41C0F2;
            box-shadow: inset 2px 3px 2px rgba(0, 0, 0, 0.2), inset -2px -3px 2px rgba(255, 255, 255, 0.1);
            cursor: pointer;
            border-radius: 34px;
            transition: 0.4s;

            &::before {
                content: '🌞';
                position: absolute;
                left: 6px;
                bottom: 3px;
                height: 26px;
                width: 26px;
                transition: 0.4s;
            }
        }

    }
}

///////////////////////////////

//GENERATEUR

#generator {
    //PASSWORD

    .generator_password {
        display: flex;
        flex-direction: column;

        &_input {
            width: 90%;
            border: solid 0.1em lightgrey;
            border-radius: 0.3em;
            margin: auto;
            text-align: center;
            padding: 1em;
            font-size: 1em;

            &:focus {
                background-color: rgb(243, 243, 243);
            }
        }

        &_button {
            padding: 1em;
            border-radius: 0.3em;
            margin: 0.5em auto 0 auto;
            cursor: pointer;
            background-color: #00a4ff;
            color: white;

            &:hover {
                color: black;
                background-color: #64c9ff;
            }
        }
    }

    //BUTTON RADIO

    .generator_choose_characters {
        ul {
            display: flex;
            flex-direction: row;
            padding: 0;
            justify-content: space-around;

            li {

                .generator_choose_characters_radio {
                    cursor: pointer;

                    input[type="radio"] {
                        position: absolute;
                        opacity: 0;

                        +.generator_choose_characters_radio_label {
                            &:before {
                                content: '';
                                background: #f4f4f4;
                                border-radius: 100%;
                                border: 1px solid darken(#f4f4f4, 25%);
                                display: inline-block;
                                width: 1.4em;
                                height: 1.4em;
                                position: relative;
                                top: -0.2em;
                                margin-right: 1em;
                                vertical-align: top;
                                cursor: pointer;
                                text-align: center;
                                transition: all 250ms ease;
                                margin-right: 0.4em;
                            }
                        }

                        &:checked {
                            +.generator_choose_characters_radio_label {
                                &:before {
                                    background-color: #3197EE;
                                    box-shadow: inset 0 0 0 4px #f4f4f4;
                                }
                            }
                        }

                        &:focus {
                            +.generator_choose_characters_radio_label {
                                &:before {
                                    outline: none;
                                    border-color: #3197EE;
                                }
                            }
                        }

                        +.generator_choose_characters_radio_label {
                            &:empty {
                                &:before {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }

        }

    }

    //BUTTON CHECKBOX

    .generator_choose_additional {

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 0;
            align-items: center;

            li {
                .generator_choose_additional_checkbox {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    -webkit-tap-highlight-color: transparent;

                    &_input {
                        display: none;

                        &:checked+.generator_choose_additional_checkbox_icon {
                            background-color: #00a4ff;

                            &:before {
                                transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
                            }

                            &:after {
                                transform: translate3d(20px, 2px, 0);
                            }
                        }
                    }

                    &_icon {
                        position: relative;
                        display: inline-block;
                        max-width: 42px;
                        min-width: 42px;
                        min-height: 24px;
                        max-height: 24px;
                        background-color: #bebebe;
                        border-radius: 22px;
                        vertical-align: text-bottom;
                        transition: all 0.3s linear;

                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            width: 38px;
                            height: 20px;
                            background-color: #bebebe;
                            border-radius: 11px;
                            transform: translate3d(2px, 2px, 0) scaleX(1);
                            transition: all 0.25s linear;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            width: 20px;
                            height: 20px;
                            background-color: #fff;
                            border-radius: 11px;
                            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
                            transform: translate3d(2px, 2px, 0);
                            transition: all 0.2s ease-in-out;
                        }
                    }

                    &_label {
                        font-size: 14px;
                        margin-left: 5px;
                        font-weight: 400;
                    }
                }
            }
        }

        &_error {
            color: red;
        }
    }
}

////////////////////////////////

//CHECKER

#password_checker {
    margin-top: 2em;

    h2 {
        font-size: 1.2em;
    }

    div {
        display: flex;
        flex-direction: row;
        white-space: pre-wrap;
        flex-wrap: wrap;

        p {
            margin: 0;
        }

        a {
            text-decoration: underline;

            &:hover {
                color: blue;
            }
        }
    }

}

//////////////////////////////////

//FOOTER

#footer {
    width: 100%;

    p {
        margin-top: 10em;
        ;
        font-size: 0.6em;
        text-align: end;
    }
}

//////////////////////////////////

//BREAKPOINTS

@media only screen and (min-width: "576px") {
    body {
        width: 566px;
    }
}

@media only screen and (min-width: "1200px") {
    body {
        width: 992px;

        #header {
            .switch {
                top: 0;
            }
        }

        .generator_choose_characters {

            ul {
                margin: auto 15em;
            }
        }

        .generator_choose_additional {

            ul {
                margin: auto 15em;
            }
        }
    }
}

//////////////////////////////////