@charset "UTF-8";
*::first-letter {
  text-transform: uppercase;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 320px;
}
body[mode=light] {
  color: black;
  background-color: white;
}
body[mode=dark] {
  color: white;
  background-color: #081B33;
}
body[mode=dark] a {
  color: white;
}
body[mode=dark] a:hover {
  color: #00a4ff !important;
}
body a {
  text-decoration: none;
  color: black;
  display: block;
}
body button {
  background-color: transparent;
  border: none;
}
body li {
  list-style: none;
}
body h1 {
  font-weight: bold;
}
body h1 strong {
  font-weight: bold;
}

header {
  position: relative;
}
header .switch {
  position: absolute;
  top: 2em;
  right: 0;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 16px;
}
header .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header .switch input:checked + .slider {
  background-color: #455277;
}
header .switch input:checked + .slider::before {
  transform: translatex(25px);
  content: "🌙";
}
header .switch .slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #41C0F2;
  box-shadow: inset 2px 3px 2px rgba(0, 0, 0, 0.2), inset -2px -3px 2px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 34px;
  transition: 0.4s;
}
header .switch .slider::before {
  content: "🌞";
  position: absolute;
  left: 6px;
  bottom: 3px;
  height: 26px;
  width: 26px;
  transition: 0.4s;
}

#generator .generator_password {
  display: flex;
  flex-direction: column;
}
#generator .generator_password div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#generator .generator_password div .generator_password_input {
  border: solid 0.1em lightgrey;
  border-radius: 0.3em;
  text-align: center;
  padding: 1em;
  font-size: 1em;
}
#generator .generator_password div .generator_password_input:focus {
  background-color: rgb(243, 243, 243);
}
#generator .generator_password div button {
  padding: 1em;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: #00a4ff;
  color: white;
}
#generator .generator_password div button:hover {
  color: black;
  background-color: #64c9ff;
}
#generator .generator_password_button {
  padding: 1em;
  width: 90%;
  border-radius: 0.3em;
  margin: 1em 0 0;
  align-self: flex-start;
  cursor: pointer;
  background-color: #00a4ff;
  color: white;
  align-self: center;
}
#generator .generator_password_button:hover {
  color: black;
  background-color: #64c9ff;
}
#generator .generator_choose_characters ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-around;
}
#generator .generator_choose_characters ul li .generator_choose_characters_radio {
  cursor: pointer;
}
#generator .generator_choose_characters ul li .generator_choose_characters_radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
#generator .generator_choose_characters ul li .generator_choose_characters_radio input[type=radio] + .generator_choose_characters_radio_label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
  margin-right: 0.4em;
}
#generator .generator_choose_characters ul li .generator_choose_characters_radio input[type=radio]:checked + .generator_choose_characters_radio_label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
#generator .generator_choose_characters ul li .generator_choose_characters_radio input[type=radio]:focus + .generator_choose_characters_radio_label:before {
  outline: none;
  border-color: #3197EE;
}
#generator .generator_choose_characters ul li .generator_choose_characters_radio input[type=radio] + .generator_choose_characters_radio_label:empty:before {
  margin-right: 0;
}
#generator .generator_choose_additional ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  align-items: center;
}
#generator .generator_choose_additional ul li .generator_choose_additional_checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
#generator .generator_choose_additional ul li .generator_choose_additional_checkbox_input {
  display: none;
}
#generator .generator_choose_additional ul li .generator_choose_additional_checkbox_input:checked + .generator_choose_additional_checkbox_icon {
  background-color: #00a4ff;
}
#generator .generator_choose_additional ul li .generator_choose_additional_checkbox_input:checked + .generator_choose_additional_checkbox_icon:before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
#generator .generator_choose_additional ul li .generator_choose_additional_checkbox_input:checked + .generator_choose_additional_checkbox_icon:after {
  transform: translate3d(20px, 2px, 0);
}
#generator .generator_choose_additional ul li .generator_choose_additional_checkbox_icon {
  position: relative;
  display: inline-block;
  max-width: 42px;
  min-width: 42px;
  min-height: 24px;
  max-height: 24px;
  background-color: #bebebe;
  border-radius: 22px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}
#generator .generator_choose_additional ul li .generator_choose_additional_checkbox_icon:before {
  content: "";
  position: absolute;
  left: 0;
  width: 38px;
  height: 20px;
  background-color: #bebebe;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scaleX(1);
  transition: all 0.25s linear;
}
#generator .generator_choose_additional ul li .generator_choose_additional_checkbox_icon:after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
#generator .generator_choose_additional ul li .generator_choose_additional_checkbox_label {
  font-size: 14px;
  margin-left: 5px;
  font-weight: 400;
}
#generator .generator_choose_additional_error {
  color: red;
}

#password_checker {
  margin-top: 2em;
}
#password_checker h2 {
  font-size: 1.2em;
}
#password_checker div {
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;
  flex-wrap: wrap;
}
#password_checker div p {
  margin: 0;
}
#password_checker div a {
  text-decoration: underline;
}
#password_checker div a:hover {
  color: blue;
}

#footer {
  width: 100%;
}
#footer p {
  margin-top: 10em;
  font-size: 0.6em;
  text-align: end;
}

@media only screen and (min-width: 576px) {
  body {
    width: 566px;
  }

  .generator_password_input {
    width: 80%;
  }

  .generator_password_button {
    width: 50% !important;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    width: 992px;
  }
  body #header .switch {
    top: 0;
  }
  body .generator_choose_characters ul {
    margin: auto 15em;
  }
  body .generator_choose_additional ul {
    margin: auto 15em;
  }
}/*# sourceMappingURL=main.css.map */